@charset "UTF-8";
// ========= wrapper
#wrapper, #contents-wrapper {
  height: 100vh;
  position: relative;
}


// ======== header config
#header {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: #333;
}

#brand {
  line-height: 70px;
  font-size: 30px;
  font-weight: bold;
  padding-left: 15px;
  font-family: fantasy;

  a {
    color: #333;
    text-decoration: none;
  }
}

#drw-btn {
  display: none;
}

#nav-menu {
  display: block;
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%) translateX(50%);

  ul li {
    transform: rotateX(-90deg);
    &:nth-of-type(1) {animation: rotate1 .5s ease-out 1s forwards;}
    &:nth-of-type(2) {animation: rotate1 .5s ease-out 1.3s forwards;}
    &:nth-of-type(3) {animation: rotate1 .5s ease-out 1.6s forwards;}

    a {
      display: block;
      height: 40px;
      margin: 15px 0;
      width: 200px;
      text-align: center;
      padding: 5px 25px;
      line-height: 40px;
      font-size: 24px;
      color: #333;
      text-decoration: none;
      letter-spacing: 0.1em;
      font-family: fantasy;
    }
  }
}

@keyframes rotate1 {
  0%{transform: rotateX(-90deg);}
  100%{transform: rotateX(0deg);}
}

#contents-wrapper #nav-menu {
  z-index: 60;
  position: absolute;
  top: 0;
  right: 10px;
  transform: none;

  ul li {
    display: inline-block;
    animation: none;
    transform: translateX(0);

    a {
      display: block;
      width: 100px;
      text-align: center;
      margin: 21px 0;
      padding: 0 10px;
      line-height: 2;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      text-align: center;
      text-decoration: none;
      letter-spacing: 0.1em;
      font-family: fantasy;
    }
  }
}

#contents-wrapper #nav-menu, #nav-menu {
  ul li a {
    position: relative;

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #333;
      transform-origin: center;
      transform: scaleX(0);
      transition: all .5s ease-out;
    }

    &:hover:after {
      transform: scaleX(.8);
      transition: all .3s ease-in-out;
    }
  }
}

@media screen and (max-width: 600px) {
  #drw-btn {
    z-index: 100;
    display: block;
    position: fixed;
    height: 60px;
    top: 0;
    right: 0;
    padding: 5px 20px;
    cursor: pointer;

    &:hover {
      opacity: 0.85;
    }

    .icon-bar {
      display: block;
      width: 32px;
      height: 3px;
      border-radius: 2px;
      margin-bottom: 7px;
      background-color: #333;
      transition: all 0.3s ease;

      &:first-of-type {
        margin-top: 14px;
      }
    }
  }

  #drw-btn.open {
    transition: all 0.5s ease;

    .icon-bar {background-color: #333;}

    .icon-bar:first-child {
      transition: all 0.3s ease;
      transform: translate(0, 10px) rotate(45deg);
    }
    .icon-bar:nth-child(3) {
      transition: all 0.3s ease;
      transform: translate(0, -10px) rotate(-45deg);
    }
    .icon-bar:nth-child(2) {
      transition: all 0.2s ease;
      transform: rotateY(90deg);
    }
  }


  #nav-menu, #contents-wrapper #nav-menu {
    z-index: 75;
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100vh;
    padding: 80px 40px 20px;
    background-color: #fff;
    color: #333;
    transition: 0.5s ease;
    transform: none;

    ul li {
      display: block;

       a {
         width: auto;
        display: block;
        color: #333;
        font-size: 16px;
        height: 40px;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 20px;
        margin: 20px;
        line-height: 40px;
      }
    }
  }

  #nav-menu.slide-in, #contents-wrapper #nav-menu.slide-in {
    right: 0;
    transition: 0.5s ease;
  }

  #drw-layer {
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }

  #drw-layer.cover {
    transition: all 0.3s ease;
    right: 0;
  }
}

// ======= main visual config
#main-visual {
  height: 500px;
}

// =======  footer config
#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #fff;

  #copyright {
    text-align: center;
    color: #333;
    font-size: 12px;
    line-height: 30px;
  }
}
